@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.wrapper {
  width: 75%;
  margin: 50px auto;
}
header {
  position: relative;
}
header .logo {
  font-weight: 600;
  font-size: 1.7rem;
}
header .presentation {
  margin: 50px 0;
  background: url("./hedIMG.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgb(151, 151, 151);
  width: 100%;
  height: 450px;
  position: relative;
}
header .presentation::after {
  content: "Современная мебель для вашего дома";
  position: absolute;
  top: 80px;
  left: 50px;
  width: 400px;
  font-size: 4rem;
  color: white;
}
header .presentation::before {
  content: "По выгодной цене";
  position: absolute;
  top: 400px;
  left: 50px;
  width: 400px;
  font-size: 1rem;
  color: white;
}
header .shop-cart-button {
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
  transition: color, transform 300ms ease;
}
header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.3);
}
header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  padding: 20px;
  padding-bottom: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 11px 5px 19px 4px rgba(34, 60, 80, 0.24);
  -moz-box-shadow: 11px 5px 19px 4px rgba(34, 60, 80, 0.24);
  box-shadow: 11px 5px 19px 4px rgba(34, 60, 80, 0.24);
  z-index: 1000;
}
header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
header .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
  user-select: none;
}
header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-cart .item b {
  color: #797979;
  font-weight: 600;
}
header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: large;
  margin-bottom: 20px;
}
header .shop-cart .item .delete-button {
  color: #ca5252;
  float: right;
  position: relative;
  font-size: large;
  cursor: pointer;
  transition: color, transform 300ms ease;
}
.categories div {
  display: inline-block;
  background-color: #d6d6d6;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 270ms ease;
  user-select: none;
}
.categories div:hover {
  border-color: silver;
  transform: scale(1.04);
}
header .shop-cart .item .delete-button:hover {
  color: #ff0000;
  transform: scale(1.2);
}
header ul.tools {
  float: right;
  list-style: none;
}
header ul.tools li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 300ms ease;
}
header ul.tools li:hover {
  opacity: 0.5;
}
main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .Product {
  width: 30%;
  margin-bottom: 50px;
  background: rgb(215, 215, 215);
  border-radius: 10px;
  height: min-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
main .Product img,
.full-item img {
  border-radius: 10px;
  width: 100%;
  transition: transform 300ms ease;
  cursor: pointer;
}
main .Product img:hover,
.full-item img:hover {
  transform: scale(1.03);
}
.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.752);
  z-index: 10000000;
  overflow: auto;
}
.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 10px;
}
main h2,
.full-item h2,
main p,
.full-item p,
main b,
.full-item b {
  margin: 10px 20px;
  color: #333;
}
main b,
.full-item b {
  color: #5fa36a;
}
main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: x-large;
  transition: transform 150ms ease;
  user-select: none;
}
main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.05) translateY(-1px);
}
footer {
  margin-top: 5%;
  text-align: center;
}
